// Body
$primary:       #3751FF;
$secondary:     #c5c7cd;
$success:       #29CC97;
$info:          #363740;
$warning:       #FEC400;
$danger:        #F12B2C;
$light:         #F7F8FC;
$dark:          #252733;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
